
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
body{
    background-color: #001;
    font-family: Arial, sans-serif;
    
    
    display: flex;
    flex-direction: column;
    
}


header{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: #2b2929ea;
    
}

.i1{
    width: 200px;
    border-radius: 20px;
}
.i3{
    width: 100px;
    border-radius: 50%;
    }

.i2{
    width: 100px;
}




main{
    
    width: 100%;
    
height: auto;

    display: flex;
    justify-content: space-between;
flex: 1;   /* يدفع الفوتر للأسفل */
    
    
}









.tawasol {
    width: 100%;
    background: #181818;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;      /* يجعلها دائرية */
    object-fit: cover;       /* قص ممتاز داخل الدائرة */
    vertical-align: middle;  /* محاذاة مع الأيقونات */
    cursor: pointer;
}


.tawasol a{
        text-decoration: none;

    color: var(--color);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    transition: 0.5s;
    font-size: 50px;
    cursor: pointer;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,.4) );
}


 .tawasol a:hover{
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);
    background-color: var(--color);
    color :#fff;
}


nav{
    width: 140px;
    
    background: #1818185b;
    padding: 10px 20px;
 
    box-shadow: 0 0 15px 8px  rgba(3, 75, 39, 0.966);
}

.navbar1 a , .navbar2 a{
    display: block;
    
    text-decoration: none;
    margin: 20px 0;
    font-size: 18px;
    transition: 0.3s;
    padding: 13px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    background: #22222234;
}



nav a:hover{
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);
    background-color: var(--color);
    color :#fff;
}























footer{
    width: 100%;
 
    background: #2b2929ea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(121, 108, 108, 0.5);
    color: rgba(21, 141, 47, 0.938);
    font-size: 18px;
    position: relative;
    bottom: 0;

    margin: 0; 

    
}













@media (min-width: 768px) and (max-width: 1024px) {
  /* تنسيقات التابلت */



  html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}




header{
    height: 100px;
      
}


 



.i1{
    width: 200px;
    border-radius: 20px;
}
.i3{
    width: 100px;
    border-radius: 50%;
    }

.i2{
    width: 100px;
}



.tawasol {
    

    
    display: grid;
    grid-template-columns: repeat(2 , 230px);
    justify-items: center;
    gap: 18px;


}

.tawasol a{
       width: 50px;
    height: 50px;
    
    
    
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,.8) ); 


}

.tawasol i{
    font-size: 120px;
    
}

.icon-circle {
    width: 90px;
    height: 90px;
    
}


main{
    flex: 1;   /* يدفع الفوتر للأسفل */
}


nav{
    width: 190px;
    
    
 
    box-shadow: 0 0 15px 8px  rgba(3, 75, 39, 0.966);
}

.navbar1 a , .navbar2 a{
    
    margin: 40px 0;
    font-size: 30px;
    
    padding: 20px;
   
   
}








footer{
    
    
    margin: 0;  
}




}






@media (min-width: 320px) and (max-width: 767px) {

  /* تنسيقات الهاتف */


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}




header{
    height: 50px;
        width: 100%;

      
}

.i3{
     display: none;

}
 .i1{
    width: 100px;
        }

.i2{
    
    display: none;
}





.tawasol {
    

    
    display: grid;
    grid-template-columns: repeat(1 , 80px);
    justify-items: center;
    gap: 3px;


}

.tawasol a{
       width: 60px;
    height: 60px;
    
    font-size: 30px;
    
    -webkit-box-reflect: left -50px linear-gradient(to left, rgba(0,0,0,0) , rgba(0,0,0,.4) ); 


}


main{
    flex: 1;   /* يدفع الفوتر للأسفل */
}








footer{
    
    font-size: 10px;
    height: 20px;
    margin: 0;  
}

}